<h1>Гипотеза Симона</h1>
<p style="font-size: 16px">Введите n, до которого проверить гипотезу (как в прошлых ЛР)</p>
<%= render 'form', simons: @simons %><br/>
<%= link_to 'Вернуться на главную', simons_path, class: 'btn btn-link btn-sm' %>