<h1>Билет №18</h1>
<p>Дан массив чисел arr_b. Найти частное от деления количества элементов, индексы которых кратны 3, на последний положительный элемент.</p>
<%= form_tag(rk_result_path, :method => "get") do %>
  <%= label_tag "Массив чисел arr_b:" %>
  <%= text_field_tag 'arr_b', '1 2 3 4', required: true %>
  <%= submit_tag "Результат" %>
<% end %>