<h1>Билет №18</h1>
<p>Дан массив чисел arr_b. Найти частное от деления количества элементов, индексы которых кратны 3, на последний положительный элемент.</p>
<p>Результат для массива <%= @parsed_arr.join(' ') %></p>
<% if !@error_msg.nil? %>
    <%= @error_msg %> <br/>
<% else %>
    <%= @result %> <br/>
<% end %>
<%= link_to 'Еще посчитать', rk_input_path %>