<div id="<%= dom_id user %>">
  <p>
    <strong>Пользователь:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Пароль (зашифрованный):</strong>
    <%= user.password_digest %>
  </p>
</div>
